.Rproj.user
.Rhistory
.RData
.Ruserdata
data-trafficcounts.csv
fastfoodalleghenycounty.csv
walkscorect.xls---walk-score-by-ct.csv
dictionary-traffic-counts.csv
cb_2016_42_tract_500k.zip
pa_census_track
